<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main id="container">
    <section class="stappen_section">
        <div class="stap_div stap_afgerond">
            <p>Persoonlijke vragen</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
        <div class="stap_div stap_afgerond">
            <p>Intakelijst voeding</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
        <div class="stap_div stap_afgerond laatste_cirkel_stap">
            <p>Intakelijst beweging</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
    </section>
    <p class="uitleg_tekst">U heeft nu alle benodigde vragenlijsten ingevuld en bent klaar om aan de slag te gaan! Klik op 'volgende' om naar het dashboard te gaan.</p>
    <button class="button_naar_vragenlijst"><a href="/dashboard" class="button">Naar het dashboard</a></button>
    <script type="module" src='javascript/app.js'></script>
</main>
<%- include('./partials/foot') %>
