<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main id="container">
    <section class="stappen_section">
        <div class="stap_div volgende_stap">
            <p>Persoonlijke vragen</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
        <div class="stap_div">
            <p>Intakelijst voeding</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
        <div class="stap_div laatste_cirkel_stap">
            <p>Intakelijst beweging</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
    </section>
    <p class="uitleg_tekst">Klik op 'volgende' om naar de persoonlijke vragen te gaan.</p>
    <button class="button_naar_vragenlijst"><a href="/persoonlijke_vragen" class="button">Naar vragenlijst</a></button>
</main>
<%- include('./partials/foot') %>
