<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main id="container">
    <section class="stappen_section">
        <div class="stap_div volgende_stap">
            <p>Persoonlijke vragen</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
        <div class="stap_div">
            <p>Intakelijst voeding</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
        <div class="stap_div laatste_cirkel_stap">
            <p>Intakelijst beweging</p>
            <%- include('./partials/cirkel_stap') %>
        </div>
    </section>
    <p class="uitleg_tekst">Klik op 'volgende' om naar de persoonlijke vragen te gaan.</p>
    <div class="button_div">
        <button id="button_vorige"><a href="/onboarding_4" class="button" aria-label="Ga terug naar vorige pagina">Ga terug</a></button>
        <button id="button_volgende"><a href="/persoonlijke_vragen" class="button" aria-label="Ga door naar de vragenlijst">Naar vragenlijst</a></button>
    </div>
</main>
<%- include('./partials/foot') %>
